@mixin center ($display, $align, $justify, $direction) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin size ($width, $height) {
    width: $width;
    height: $height;
}

@mixin ball() {
    border-radius: 50%;
    background-color: $ball-color;
    position: absolute;
}