*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

:root{
    --content-height: 8px;
    --content-space: 15px;
    --menu-icon-line-offsetY: --content-height/2;

    --menu-icon-height: (3*--content-height) + (2*--content-space);
}

.frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    width: 550px;
    max-width: 90%;
    height: 450px;
    max-height: 80%;
    border-radius: 8px;
    background-color: rgb(21, 161, 91);
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.3);

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu{
    display: flex;
    flex-direction: column;
    gap: var(--content-space);
    align-items: center;
    justify-content: center; 
    cursor: pointer; 

    width: 80px;
    height: var(--menu-icon-height);

    /* background: red; */
    
}

.content-1,
.content-2,
.content-3{

    width: 100%;
    height: var(--content-height);
    background: white;
    box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.3);
    transition: all .7s ease-in-out;
    /* transition: background-color .2s ease-in-out; */
}

.no-animation {
	-webkit-animation: none !important;
          animation: none !important; 
}

.content-1{
    animation: movedown .7s ease-in forwards;
}

.content-2{
    animation: ocult .7s ease-in-out forwards;
}

.content-3{
    animation: moveup .7s ease-out forwards; 
}

 @keyframes movedown {
        0% {
            transform: translate3d(0, 0, 0) rotate(0deg);
        }
    
        50% {
            transform: translatey(23px) rotate(0deg);
        }
    
        100% {
            transform: translatey(23px) rotate(135deg);
        }
    }
    
    @keyframes ocult {
        from{
            opacity: 1;
        }
    
        to {
            opacity: 0;
        }
    }
    
    @keyframes moveup {
        0% {
            transform: translate(0, 0, 0) rotate(0deg);
        }
    
        50% {
            transform: translate(0, -23px) rotate(0deg);
        }
    
        100% {
            transform: translate(0, -23px) rotate(40deg);
        }
    }

/* ------------- animation reverse --------------  */
/* &.menu.rev{

    .content-1{
         animation: movedown-rev .4s ease-in forwards;
    } 
    
    .content-2{
         animation: ocult-rev .7s ease-in-out forwards;
    } 
    
    .content-3{ 
        animation: moveup-rev .7s ease-out forwards;
     }
} */

@keyframes movedown-rev {
    0% {
        transform: translatey(23px) rotate(40deg);
    }

    50% {
        transform: translatey(23px) rotate(0deg);
    }

    100% {
        transform: translatey(0) rotate(0deg);
    }
}

@keyframes ocult-rev {
    from{
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes moveup-rev {
    0% {
        transform: translateY(-23px) rotate(-40deg);
    }

    50% {
        transform: translateY(-23px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}