.clock{
    @include center(flex, column, center, center);

    width: 270px;
    height: 270px;

    background-color: $clock-color;
    border: 5px solid $border-clock-color;
    border-radius: 50%;

    .clock-view{
        @include center(flex, column, center, center);
        
        width: 95%;
        height: 95%;

        border-radius: 50%;
        padding: 15px;
        border: 3px solid red;

        color: white;

        .info{
            @include center(flex, column, center, center);

            span{
                font-size: 50px;
            }

            p{
                font-size: .9em;
                color: $text-color;
            }

            .kcal-heart{
                @include center (flex, row, space-between, center);

                width: 100%;
                font-size: .9em;

                .heart{
                    @include center(flex, row, center, center);

                    #icon{
                        font-size: 1.2em;
                        margin-right: 3px;
                        color: $text-color;
                    }
                }
            }
        }
    }
}