.clock{
    @include center(flex, column, center, center);

    width: 270px;
    height: 270px;

    background-color: $clock-color;
    border: 5px solid $border-clock-color;
    border-radius: 50%;
    overflow: hidden;

    .clock-view{
        // @include center(flex, column, center, center);

        display: flex;
        position: relative;
        
        width: 95%;
        height: 95%;
        padding: 25px;
        margin: 10px;

        border-radius: 50%;
        border:4px dotted $text-color;
        background-color: $clock-color;
        color: white;


        .info{
            @include center(flex, column, center, center);
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            span{
                font-size: 50px;
            }

            p{
                text-transform: uppercase;
                font-size: .9em;
                color: $text-color;
            }

            .kcal-heart{
                @include center (flex, row, space-between, center);

                width: 100%;
                font-size: .9em;

                .heart{
                    @include center(flex, row, center, center);

                    #icon{
                        font-size: 1.2em;
                        margin-right: 3px;
                        color: $text-color;
            
                    }
                }
            }
        }
    }
}