@import './variables.scss';

@mixin reset() {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin body() {
    height: 100vh;
    width: 100vw;
}

@mixin frame() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 550px;
    max-width: 90%;
    height: 450px;
    max-height: 80%;
    border-radius: 8px;
    background-color: $frame-color;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin point($point-color) {
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    background-color: $point-color;
}

@mixin points-red() {

    .points-red{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    
        position: absolute;
        top: 0;
        left: 0;
    
        .points-red-1{
            @include point(red);
            cursor: pointer;
    
            position: absolute;
            top: 62%;
            left: 1%;

            &:hover{
                .tooltip-red{
                    opacity: 1;
                    transition: .5s ease-in;
                }
            }

            .tooltip-red{
                
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
        
                position: relative;
                top: -35px;
                left: -10px;
        
                width: 30px;
                height: 30px;
                padding: 3px;
                border-radius: 10px;
        
                background: red;
                color: white;
            }
        }
    
        .points-red-2{
            @include point(red);
            cursor: pointer;
    
            position: absolute;
            top: 36%;
            left: 19%;

            &:hover{
                .tooltip-red{
                    opacity: 1;
                    transition: .5s ease-in;
                }
            }

            .tooltip-red{
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
        
                position: relative;
                top: -35px;
                left: -10px;
        
                width: 30px;
                height: 30px;
                padding: 3px;
                border-radius: 10px;
        
                background: red;
                color: white;
            }
        }
    
        .points-red-3{
            @include point(red);
            cursor: pointer;
    
            position: absolute;
            top: 43%;
            left: 33%;

            &:hover{
                .tooltip-red{
                    opacity: 1;
                    transition: .5s ease-in;
                }
            }

            .tooltip-red{
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
        
                position: relative;
                top: -35px;
                left: -10px;
        
                width: 30px;
                height: 30px;
                padding: 3px;
                border-radius: 10px;
        
                background: red;
                color: white;
            }
        }
    
        .points-red-4{
            @include point(red);
            cursor: pointer;
    
            position: absolute;
            top: 36%;
            left: 49%;

            &:hover{
                .tooltip-red{
                    opacity: 1;
                    transition: .5s ease-in;
                }
            }

            .tooltip-red{
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
        
                position: relative;
                top: -35px;
                left: -10px;
        
                width: 30px;
                height: 30px;
                padding: 3px;
                border-radius: 10px;
        
                background: red;
                color: white;
            }
        }
    
        .points-red-5{
            @include point(red);
            cursor: pointer;
    
            position: absolute;
            top: 55%;
            left: 65%;

            &:hover{
                .tooltip-red{
                    opacity: 1;
                    transition: .5s ease-in;
                }
            }

            .tooltip-red{
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
        
                position: relative;
                top: -35px;
                left: -10px;
        
                width: 30px;
                height: 30px;
                padding: 3px;
                border-radius: 10px;
        
                background: red;
                color: white;
            }
        }
    
        .points-red-6{
            @include point(red);
            cursor: pointer;
    
            position: absolute;
            top: 64%;
            left: 79%;

            &:hover{
                .tooltip-red{
                    opacity: 1;
                    transition: .5s ease-in;
                }
            }

            .tooltip-red{
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
        
                position: relative;
                top: -35px;
                left: -10px;
        
                width: 30px;
                height: 30px;
                padding: 3px;
                border-radius: 10px;
        
                background: red;
                color: white;
            }
        }
    
        .points-red-7{
            @include point(red);
            cursor: pointer;
    
            position: absolute;
            top: 39%;
            left: 93%;

            &:hover{
                .tooltip-red{
                    opacity: 1;
                    transition: .5s ease-in;
                }
            }

            .tooltip-red{
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
        
                position: relative;
                top: -35px;
                left: -10px;
        
                width: 30px;
                height: 30px;
                padding: 3px;
                border-radius: 10px;
        
                background: red;
                color: white;
            }
        }
    }


}

@mixin points-blue(){

    .points-blue{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    
        position: absolute;
        top: 0;
        left: 0;
    
        .points-blue-1{
            @include point(blue);
            cursor: pointer;
    
            position: absolute;
            top: 74%;
            left: 1%;

            &:hover{
                .tooltip-blue{
                    opacity: 1;
                    transition: .5s ease-in;
                }
            }

            .tooltip-blue{
    
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
        
                position: relative;
                top: -35px;
                left: -10px;
        
                width: 30px;
                height: 30px;
                padding: 3px;
                border-radius: 10px;
        
                background: blue;
                color: white;

                
            }
        }
    
        .points-blue-2{
            @include point(blue);
            cursor: pointer;
    
            position: absolute;
            top: 66%;
            left: 19%;

            &:hover{
                .tooltip-blue{
                    opacity: 1;
                    transition: .5s ease-in;
                }
            }

            .tooltip-blue{
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
        
                position: relative;
                top: -35px;
                left: -10px;
        
                width: 30px;
                height: 30px;
                padding: 3px;
                border-radius: 10px;
        
                background: blue;
                color: white;
            }
        }
    
        .points-blue-3{
            @include point(blue);
            cursor: pointer;
    
            position: absolute;
            top: 76%;
            left: 33%;

            &:hover{
                .tooltip-blue{
                    opacity: 1;
                    transition: .5s ease-in;
                }
            }

            .tooltip-blue{
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
        
                position: relative;
                top: -35px;
                left: -10px;
        
                width: 30px;
                height: 30px;
                padding: 3px;
                border-radius: 10px;
        
                background: blue;
                color: white;
            }
        }
    
        .points-blue-4{
            @include point(blue);
            cursor: pointer;
    
            position: absolute;
            top: 70%;
            left: 49%;

            &:hover{
                .tooltip-blue{
                    opacity: 1;
                    transition: .5s ease-in;
                }
            }

            .tooltip-blue{
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
        
                position: relative;
                top: -35px;
                left: -10px;
        
                width: 30px;
                height: 30px;
                padding: 3px;
                border-radius: 10px;
        
                background: blue;
                color: white;
            }
        }
    
        .points-blue-5{
            @include point(blue);
            cursor: pointer;
    
            position: absolute;
            top: 73%;
            left: 65%;

            &:hover{
                .tooltip-blue{
                    opacity: 1;
                    transition: .5s ease-in;
                }
            }

            .tooltip-blue{
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
        
                position: relative;
                top: -35px;
                left: -10px;
        
                width: 30px;
                height: 30px;
                padding: 3px;
                border-radius: 10px;
        
                background: blue;
                color: white;
            }
        }
    
        .points-blue-6{
            @include point(blue);
            cursor: pointer;
    
            position: absolute;
            top: 83%;
            left: 79%;

            &:hover{
                .tooltip-blue{
                    opacity: 1;
                    transition: .5s ease-in;
                }
            }

            .tooltip-blue{
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
        
                position: relative;
                top: -35px;
                left: -10px;
        
                width: 30px;
                height: 30px;
                padding: 3px;
                border-radius: 10px;
        
                background: blue;
                color: white;
            }
        }
    
        .points-blue-7{
            @include point(blue);
            cursor: pointer;
    
            position: absolute;
            top: 76%;
            left: 93%;

            &:hover{
                .tooltip-blue{
                    opacity: 1;
                    transition: .5s ease-in;
                }
            }

            .tooltip-blue{
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
        
                position: relative;
                top: -35px;
                left: -10px;
        
                width: 30px;
                height: 30px;
                padding: 3px;
                border-radius: 10px;
        
                background: blue;
                color: white;
            }
        }
    
    }

}

