@import './mixins.scss';
@import './variables.scss';

*{
    @include reset();
}

body{
    @include body();
}

.frame{
    @include frame();
}

.painel{
    display: flex;
    flex-direction: column;
    overflow: hidden;

    width: 320px;
    height: 260px;
    border-radius: 1%;

    background-color: $primary-color;
    box-shadow: 10px 15px 13px 0px $shadow-color;

    &-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 26%;
        padding: 15px;

        background-color: $header-card-color;
        color: white;

        &-left{
            display: flex;
            flex-direction: column;
            text-align: left;

            h2{
                text-transform: uppercase;
                font-size: 17px;
            }

            p{
                font-size: .8em;
            }

        }

        &-right{
            display: flex;
            flex-direction: column;
            text-align: right;

            p{
                font-weight: 400;
            }

        }
    }

    &-body{
        display: flex;
        flex-direction: column;
        position: relative;

        width: 100%;
        padding: 15px;

        &-top{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: right;
            gap: 10px;

            color: rgb(168, 162, 162);
            font-size: .8em;

            .indice-red{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: right;
                gap: 10px;

                .red{
                    width: 15px;
                    height: 5px;
    
                    background-color: red;
                }

            }

            .indice-blue{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: right;
                gap: 10px;

                
                .blue{
                    width: 15px;
                    height: 5px;
    
                    background-color: blue;
                }

            }


        }

        &-main{
            width: 100%;
            height: 130px;
            margin-bottom: 5px;

            background: rgb(235, 235, 235);

            
        }

        &-footer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            color: rgb(168, 162, 162);
            font-size: .8em;

        }
    }
}

