* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 550px;
  max-width: 90%;
  height: 450px;
  max-height: 80%;
  border-radius: 8px;
  background-color: #42A7A1;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.painel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 320px;
  height: 260px;
  border-radius: 1%;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 15px 13px 0px rgba(0, 0, 0, 0.3);
}
.painel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 26%;
  padding: 15px;
  background-color: #F1BA64;
  color: white;
}
.painel-header-left {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.painel-header-left h2 {
  text-transform: uppercase;
  font-size: 17px;
}
.painel-header-left p {
  font-size: 0.8em;
}
.painel-header-right {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.painel-header-right p {
  font-weight: 400;
}
.painel-body {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 15px;
}
.painel-body-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 10px;
  color: rgb(168, 162, 162);
  font-size: 0.8em;
}
.painel-body-top .indice-red {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 10px;
}
.painel-body-top .indice-red .red {
  width: 15px;
  height: 5px;
  background-color: red;
}
.painel-body-top .indice-blue {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 10px;
}
.painel-body-top .indice-blue .blue {
  width: 15px;
  height: 5px;
  background-color: blue;
}
.painel-body-main {
  width: 100%;
  height: 130px;
  margin-bottom: 7px;
  background: rgb(235, 235, 235);
  position: relative;
}
.painel-body-main .points-red {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.painel-body-main .points-red .points-red-1 {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  position: absolute;
  top: 62%;
  left: 1%;
}
.painel-body-main .points-red .points-red-1:hover .tooltip-red {
  opacity: 1;
  transition: 0.5s ease-in;
}
.painel-body-main .points-red .points-red-1 .tooltip-red {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: relative;
  top: -35px;
  left: -10px;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 10px;
  background: red;
  color: white;
}
.painel-body-main .points-red .points-red-2 {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  position: absolute;
  top: 36%;
  left: 19%;
}
.painel-body-main .points-red .points-red-2:hover .tooltip-red {
  opacity: 1;
  transition: 0.5s ease-in;
}
.painel-body-main .points-red .points-red-2 .tooltip-red {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: relative;
  top: -35px;
  left: -10px;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 10px;
  background: red;
  color: white;
}
.painel-body-main .points-red .points-red-3 {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  position: absolute;
  top: 43%;
  left: 33%;
}
.painel-body-main .points-red .points-red-3:hover .tooltip-red {
  opacity: 1;
  transition: 0.5s ease-in;
}
.painel-body-main .points-red .points-red-3 .tooltip-red {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: relative;
  top: -35px;
  left: -10px;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 10px;
  background: red;
  color: white;
}
.painel-body-main .points-red .points-red-4 {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  position: absolute;
  top: 36%;
  left: 49%;
}
.painel-body-main .points-red .points-red-4:hover .tooltip-red {
  opacity: 1;
  transition: 0.5s ease-in;
}
.painel-body-main .points-red .points-red-4 .tooltip-red {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: relative;
  top: -35px;
  left: -10px;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 10px;
  background: red;
  color: white;
}
.painel-body-main .points-red .points-red-5 {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  position: absolute;
  top: 55%;
  left: 65%;
}
.painel-body-main .points-red .points-red-5:hover .tooltip-red {
  opacity: 1;
  transition: 0.5s ease-in;
}
.painel-body-main .points-red .points-red-5 .tooltip-red {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: relative;
  top: -35px;
  left: -10px;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 10px;
  background: red;
  color: white;
}
.painel-body-main .points-red .points-red-6 {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  position: absolute;
  top: 64%;
  left: 79%;
}
.painel-body-main .points-red .points-red-6:hover .tooltip-red {
  opacity: 1;
  transition: 0.5s ease-in;
}
.painel-body-main .points-red .points-red-6 .tooltip-red {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: relative;
  top: -35px;
  left: -10px;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 10px;
  background: red;
  color: white;
}
.painel-body-main .points-red .points-red-7 {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  position: absolute;
  top: 39%;
  left: 93%;
}
.painel-body-main .points-red .points-red-7:hover .tooltip-red {
  opacity: 1;
  transition: 0.5s ease-in;
}
.painel-body-main .points-red .points-red-7 .tooltip-red {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: relative;
  top: -35px;
  left: -10px;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 10px;
  background: red;
  color: white;
}
.painel-body-main .points-blue {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.painel-body-main .points-blue .points-blue-1 {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
  cursor: pointer;
  position: absolute;
  top: 74%;
  left: 1%;
}
.painel-body-main .points-blue .points-blue-1:hover .tooltip-blue {
  opacity: 1;
  transition: 0.5s ease-in;
}
.painel-body-main .points-blue .points-blue-1 .tooltip-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: relative;
  top: -35px;
  left: -10px;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 10px;
  background: blue;
  color: white;
}
.painel-body-main .points-blue .points-blue-2 {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
  cursor: pointer;
  position: absolute;
  top: 66%;
  left: 19%;
}
.painel-body-main .points-blue .points-blue-2:hover .tooltip-blue {
  opacity: 1;
  transition: 0.5s ease-in;
}
.painel-body-main .points-blue .points-blue-2 .tooltip-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: relative;
  top: -35px;
  left: -10px;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 10px;
  background: blue;
  color: white;
}
.painel-body-main .points-blue .points-blue-3 {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
  cursor: pointer;
  position: absolute;
  top: 76%;
  left: 33%;
}
.painel-body-main .points-blue .points-blue-3:hover .tooltip-blue {
  opacity: 1;
  transition: 0.5s ease-in;
}
.painel-body-main .points-blue .points-blue-3 .tooltip-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: relative;
  top: -35px;
  left: -10px;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 10px;
  background: blue;
  color: white;
}
.painel-body-main .points-blue .points-blue-4 {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
  cursor: pointer;
  position: absolute;
  top: 70%;
  left: 49%;
}
.painel-body-main .points-blue .points-blue-4:hover .tooltip-blue {
  opacity: 1;
  transition: 0.5s ease-in;
}
.painel-body-main .points-blue .points-blue-4 .tooltip-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: relative;
  top: -35px;
  left: -10px;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 10px;
  background: blue;
  color: white;
}
.painel-body-main .points-blue .points-blue-5 {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
  cursor: pointer;
  position: absolute;
  top: 73%;
  left: 65%;
}
.painel-body-main .points-blue .points-blue-5:hover .tooltip-blue {
  opacity: 1;
  transition: 0.5s ease-in;
}
.painel-body-main .points-blue .points-blue-5 .tooltip-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: relative;
  top: -35px;
  left: -10px;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 10px;
  background: blue;
  color: white;
}
.painel-body-main .points-blue .points-blue-6 {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
  cursor: pointer;
  position: absolute;
  top: 83%;
  left: 79%;
}
.painel-body-main .points-blue .points-blue-6:hover .tooltip-blue {
  opacity: 1;
  transition: 0.5s ease-in;
}
.painel-body-main .points-blue .points-blue-6 .tooltip-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: relative;
  top: -35px;
  left: -10px;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 10px;
  background: blue;
  color: white;
}
.painel-body-main .points-blue .points-blue-7 {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
  cursor: pointer;
  position: absolute;
  top: 76%;
  left: 93%;
}
.painel-body-main .points-blue .points-blue-7:hover .tooltip-blue {
  opacity: 1;
  transition: 0.5s ease-in;
}
.painel-body-main .points-blue .points-blue-7 .tooltip-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: relative;
  top: -35px;
  left: -10px;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 10px;
  background: blue;
  color: white;
}
.painel-body-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(168, 162, 162);
  font-size: 0.8em;
}/*# sourceMappingURL=style.css.map */