.frame{
    width: 450px;
    height: 450px;
    border-radius: 8px;
    background-color: rgb(44, 40, 33);
    overflow: hidden;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 600px;
}