@import './variables';

.box {
    display: flex;
    flex-direction: column;
    z-index: 10;

    background-color: $box-primary-color;
    box-shadow: 10px 13px 10px 0px $shadow-color;

    width: 330px;
    height: 350px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .box-header{
        @include center(center, space-between, row);
        position: relative;

        background-color: $box-header-color;
        color: $box-header-icon-color;

        width: 100%;
        height: 18%;
        padding-left: 20px;
        padding-right: 20px;

        p{
            color: white;
            font-size: 1em;

            // inicia com display flex
            // recebe display none quando o input estiver ativado
            display: flex;
        }
    }

    .box-main{

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        width: 100%;
        height: 82%;
    }
}