@import './variables';

.box {
    display: flex;
    flex-direction: column;

    background-color: $box-primary-color;
    box-shadow: 10px 13px 10px 0px $shadow-color;

    width: 330px;
    height: 350px;

    .box-header{
        @include center(center, space-between, row);
        background-color: $box-header-color;

        width: 100%;
        height: 18%;
    }

    .box-main{
        width: 100%;
    }
}