// INPUT SEARCH 
#search{
    // inicia com display none
    // recebe display flex quando o input estiver ativado
    display: none;

    width: 85%;
    height: 30px;
    padding-left: 10px;

    background-color: $box-primary-color;
    border: 1px solid blue;
    border-radius: 50px;
    outline: none;

}