#menu,
#search-icon{
    font-size: 46px; 

    &:hover{
        color: whitesmoke;
        cursor: pointer;
    }
}

#menu{
    // inicia com display flex
    // recebe display none quando o input estiver ativado
    display: flex;
}