$frame-color:  #264057;

$box-primary-color: #fff;
$box-color: #dfe9f5;
$nav-color: #18446d;
$box-color-shadow: #d8c4b6;

$box-header-color: #5F98CD;
$box-header-icon-color: #B2DAFf;

$shadow-color: rgba(0, 0, 0, 0.3);
$text-color: rgb(61, 30, 30);
$text-light: rgb(238, 237, 240);