.gota{
    display: flex;
    @include size(20px, 20px);
    z-index: 25;
    
    position: relative;
    top: 0;
    left: 50%;

    background-color: rgb(94, 94, 241);
    border-radius: 50%;
    animation: gota .9s linear infinite;
    transform: rotate(40deg);

    &:before{
        content: "";
        position: absolute;
        top: -20px;
        left: 50%;
        border: 10px solid transparent;
        border-bottom: 16px solid rgb(94, 94, 241);
        transform: translateX(-50%); 
    }

    @keyframes gota {
        from {
            top: 0;
            left: 50%; 
        }

        to{
            top: 95%;
            left: 0%;
        }
    }

    &-one{
       @extend .gota;
       animation: gota-one 1s linear infinite;

       @keyframes gota-one {
            from {
                top: 0;
                left: 20%; 
            }

            to{
                top: 95%;
                left: -20%;
            }
        }

    }

    &-two{
        @extend .gota;
        animation: gota-two .5s linear infinite;
 
        @keyframes gota-two {
             from {
                 top: 0;
                 left: 70%; 
            }
 
             to{
                 top: 95%;
                 left: 20%;
            }
        }
 
    }

    &-three{
        @extend .gota;
        animation: gota-three .7s linear infinite;
 
        @keyframes gota-three {
             from {
                 top: 0;
                 left: 90%; 
            }
 
             to{
                 top: 95%;
                 left: 40%;
            }
        }
    }

    &-four{
        @extend .gota;
        animation: gota-four 1.2s linear infinite;
        background-color: rgb(68, 68, 182);

        &:before{
            border-bottom: 16px solid rgb(68, 68, 182);
        }
 
        @keyframes gota-four {
             from {
                 top: 0;
                 left: 40%; 
            }
 
             to{
                 top: 95%;
                 left: -25%;
            }
        }
    }

    &-five{
        @extend .gota;
        animation: gota-five 1s linear infinite;
        background-color: rgb(68, 68, 182);

        &:before{
            border-bottom: 16px solid rgb(68, 68, 182);
        }
 
        @keyframes gota-five {
             from {
                 top: 0;
                 left: 76%; 
            }
 
             to{
                 top: 95%;
                 left: 0%;
            }
        }
    }

}