.gota{
    display: flex;
    @include size(20px, 20px);
    z-index: 25;
    
    position: relative;
    top: 0;
    left: 50%;

    background-color: rgb(94, 94, 241);
    border-radius: 50%;
    animation: gota .9s linear infinite;

    &:before{
        content: "";
        position: absolute;
        top: -20px;
        left: 50%;
        border: 10px solid transparent;
        border-bottom: 16px solid rgb(94, 94, 241);
        transform: translateX(-50%); 
    }

    @keyframes gota {
        from {
            top: 0;
            left: 50%; 
        }

        to{
            top: 95%;
            left: 50%;
        }
    }

}