.info{
    display: flex;
    flex-direction: column;
    z-index: 15;

    // 
    opacity: 0;

    width: 270px;
    height: 130px;
    border-radius: 8px;

    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);

    background-color: #fff;
    color: #000;

    .pronunce{
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;
        height: 25%;
        padding-inline: 15px;

        color: $tooltip-info-color;
        background-color: $text-color;
    }


    .text{
        display: flex;
        align-items: center;

        width: 100%;
        height: 75%;
        padding-inline: 15px;

        background-color: $tooltip-info-color;
        color: $text-color;
        font-size: .8em;

        position: relative;

        .block{
            width: 15px;
            height: 15px;
    
            background-color: $tooltip-info-color;

            position: absolute;
            bottom: -7px;
            left: 45%;
            transform: translateX(-50%) rotate(130deg);
        
        }
    }

}