* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 550px;
  max-width: 90%;
  height: 450px;
  max-height: 80%;
  border-radius: 8px;
  background-color: #264057;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.box {
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: #fff;
  box-shadow: 10px 13px 10px 0px rgba(0, 0, 0, 0.3);
  width: 330px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease-in-out;
}
.box.active {
  position: absolute;
  top: 50%;
  left: 85%;
}
.box .box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  background-color: #5F98CD;
  color: #B2DAFf;
  width: 100%;
  height: 18%;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.box .box-header p {
  color: white;
  font-size: 1em;
}
.box .box-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 82%;
}

.nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 330px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: #18446d;
  box-shadow: -10px 13px 10px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.8s ease-in-out;
}
.nav.active {
  position: absolute;
  top: 50%;
  left: 35%;
}
.nav ul {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}
.nav ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  width: 100%;
  height: 20%;
  padding-left: 30px;
  color: #B2DAFf;
}
.nav ul li span {
  margin-right: 10px;
}
.nav ul li:hover {
  background-color: #26537c;
  cursor: pointer;
}

.notifications {
  display: flex;
  flex-direction: row;
  height: 33%;
  width: 100%;
  padding-left: 20px;
}
.notifications .notification-icon-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 20px;
  height: 100%;
}
.notifications .notification-icon-left .icon-1 {
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #5F98CD;
}
.notifications .notification-icon-left .icon-2 {
  width: 3px;
  height: 70%;
  background-color: #5F98CD;
}
.notifications .notification {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.notifications .notification:hover .time {
  color: #5F98CD;
  cursor: pointer;
}
.notifications .notification:hover .msm {
  color: #5F98CD;
  cursor: pointer;
}
.notifications .notification .time {
  font-size: 0.8em;
  margin-bottom: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.notifications .notification .msm {
  display: flex;
  font-size: 0.9em;
  width: 100%;
  padding-right: 20px;
}
.notifications .notification .msm .name-msm {
  font-size: 1.3em;
  font-weight: 400;
  margin-right: 4px;
}

#menu,
#search-icon {
  font-size: 46px;
}
#menu:hover,
#search-icon:hover {
  color: whitesmoke;
  cursor: pointer;
}

#menu {
  display: flex;
}

.search-div {
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 15;
  position: absolute;
  width: 70%;
  height: 100%;
  background-color: #5F98CD;
  transition: all 0.7s ease-in forwards;
}
.search-div.open {
  display: flex;
}
.search-div #search {
  display: flex;
  width: 90%;
  height: 30px;
  padding-left: 10px;
  padding-right: 6px;
  background-color: #fff;
  border: 1px solid blue;
  border-radius: 50px;
  outline: none;
  color: blueviolet;
}/*# sourceMappingURL=style.css.map */