.left{
    width: 20px;
    height: 140px;
    background-color: rgb(255, 255, 255);

    position: absolute;
    left: 32%;

    transform: rotate(30deg);
    transform: skew(-25deg);
    z-index: 10;
}

.left-inside{
    width: 20px;
    height: 140px;
    background-color: rgb(168, 168, 168);

    position: absolute;
    left: 38%;

    transform: rotate(30deg);
    transform: skew(-25deg);
}

.base{
    width: 149px;
    height: 20px;
    background-color: rgb(168, 168, 168);

    position: absolute;
    bottom: 26%;
    left: 26%;
    transform: skew(25deg);
    z-index: 5;
}

.base-inside{
    width: 130px;
    height: 20px;
    background-color: rgb(70, 70, 69);

    position: absolute;
    bottom: 32%;
    left: 29%;

    transform: skew(25deg);
}

.right{
    width: 20px;
    height: 140px;
    background-color: rgb(70, 70, 69);

    position: absolute;
    right: 32%;

    transform: rotate(-30deg);
    transform: skew(25deg);
}

.right-inside{
    width: 20px;
    height: 140px;
    background-color: rgb(255, 255, 255);

    position: absolute;
    right: 39%;

    transform: rotate(-30deg);
    transform: skew(25deg); 
    z-index: 11;
}