@import './mixins.scss';
@import './variables.scss';

*{
    @include reset();
}

body{
    @include body();
}

.frame{
    @include frame();

    .ball-1{

        @include ball(0px, 0px);
        animation: ball-1 ease-in 3s infinite;

        @keyframes ball-1 {
            0% {
                width: 0%;
                height: 0%;
            }

            50% {
                width: 30%;
                height: 30%;
            }

            70% {
                width: 30%;
                height: 30%;
            }

            100% {
                width: 0%;
                height: 0%;
            }
        }

        .ball-2{

            @include ball(0px, 0px);
            animation: ball-2 ease-in 3s infinite;

            @keyframes ball-2 {
                0% {
                    width: 0%;
                    height: 0%;
                }

                50% {
                    width: 70%;
                    height: 70%;
                }

                70% {
                    width: 70%;
                    height: 70%;
                }

                100% {
                    width: 0%;
                    height: 0%;
                }
            }

            .ball-3{

                @include ball(40px, 40px);
                animation: ball-3 ease-in 3s infinite;

                @keyframes ball-3 {
                    0% {
                        width: 0%;
                        height: 0%;
                    }
    
                    50% {
                        width: 70%;
                        height: 70%;
                    }
    
                    70% {
                        width: 70%;
                        height: 70%;
                    }
    
                    100% {
                        width: 0%;
                        height: 0%;
                    }
                }


                .ball-4{

                    @include ball(10px, 10px);
                    animation: ball-4 ease-in 3s infinite;

                    @keyframes ball-4 {
                        0% {
                            width: 0%;
                            height: 0%;
                        }
        
                        50% {
                            width: 50%;
                            height: 50%;
                        }
        
                        70% {
                            width: 50%;
                            height: 50%;
                        }
        
                        100% {
                            width: 0%;
                            height: 0%;
                        }
                    }

                }

            }

        }

    }
}

