@import './mixins.scss';
@import './variables.scss';

*{
    @include reset();
}

body{
    @include body();
}

.frame{
    @include frame();

    .ball-1{
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;

        background: $primary-color;
        @include shadow-box();

        opacity: 1;
        animation: ball-1 ease-in 3s infinite;

        @keyframes ball-1 {
            0%{
                width: 0%;
                height: 0%;
            }

            50% {
                width: 30%;
                height: 30%;
            }

            70% {
                width: 30%;
                height: 30%;
            }

            100% {
                width: 0%;
                height: 0%;
            }
        }

        .ball-2{
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 5;

            border-radius: 50%;
            width: 100px;
            height: 100px;

            background: $primary-color;
            @include shadow-box();

            opacity: 1;
            animation: ball-2 ease-in 3s infinite;

            @keyframes ball-2 {
                0%{
                    width: 0%;
                    height: 0%;
                }
    
                50% {
                    width: 70%;
                    height: 70%;
                }
    
                70% {
                    width: 70%;
                    height: 70%;
                }
    
                100% {
                    width: 0%;
                    height: 0%;
                }
            }

            .ball-3{

                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 5;

                border-radius: 50%;
                width: 100px;
                height: 100px;

                background: $primary-color;
                @include shadow-box();

                opacity: 1;
                animation: ball-3 ease-in 3s infinite;

                @keyframes ball-3 {
                    0%{
                        width: 0%;
                        height: 0%;
                    }
        
                    50% {
                        width: 60%;
                        height: 60%;
                    }
        
                    70% {
                        width: 60%;
                        height: 60%;
                    }
        
                    100% {
                        width: 0%;
                        height: 0%;
                    }
                }

                .ball-4{

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 5;

                    border-radius: 50%;
                    width: 100px;
                    height: 100px;

                    background: $primary-color;
                    @include shadow-box();

                    opacity: 1;
                    animation: ball-4 ease-in 3s infinite;

                    @keyframes ball-4 {
                        0%{
                            width: 0%;
                            height: 0%;
                        }
            
                        50% {
                            width: 40%;
                            height: 40%;
                        }
            
                        70% {
                            width: 40%;
                            height: 40%;
                        }
            
                        100% {
                            width: 0%;
                            height: 0%;
                        }
                    }
    

                }

            }

        }

    }
}

